PORT=8080

YANDEX_VISION_API_KEY=your_yandex_vision_api_key_here
YANDEX_FOLDER_ID=your_yandex_folder_id_here

DEEPSEEK_API_KEY=your_deepseek_key_here
DATABASE_URL=postgres://postgres:postgres@localhost:5432/redpen?sslmode=disable

DEBUG_OCR=false